.container {
    width: 100%;
    box-shadow: 0px 1px 4px 0px #0000000D;
    box-shadow: 0px 2px 4px 0px #0000000D;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.content {
    display: flex;
}

.image {
    width: 200px;
    img {
        width: 100%;
    }
}

.body {
    padding-left: 30px;
}

.title {
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
    line-height: 22px;
    color: #0029FF;
    a {
        text-decoration: none;
    }
}

.text {
    margin-top: 25px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #DCDCDC;
}